<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  MIT EDM Society began in the winter of 2011. We seek to
  promote electronic music throughout the community.
</p>
<p>
	After a series of successful concerts featuring Sex Ray Vision
	(aka RAVI), Berklee and MIT DJs, we are looking to expand. While we know Boston wants to have a huge concert, we need to prove that to our student activities office before they'll let this happen.
</p>
<p>
	So this means we need your help! Commit to the event by purchasing a ticket within the 2-week period. If we sell enough tickets, we'll get the ball rolling. If not, you won't be charged a cent. Our first several commits will get special prizes.
</p>