<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	There are only a couple steps, and you'll be helping Bring Kaskade to Boston!
	<li>First, <%= link_to "sign up.", signup_path %></li>
	<li>Then, select a number of tickets and <%= link_to("commit with your credit card.", '/ticketnumber') %></li>
	<li>You can confirm the number of <%= link_to "tickets you purchased.", current_user %></li>
</p>
<p>
	Now you're ready for the most important part: spreading the word. The only way for this concert to happen is if the progress bar on the homepage fills up, so remind your friends to help Bring Kaskade to Boston!
</p>