<div class="center hero-unit">
  <h1>Bring [insert big DJ] to Boston</h1>

  <h2>
    This is gonna be sickkkk.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= image_tag("edms_logo.jpg", alt: "Rails", :size => "80x80") %>