<h3>MIT</h3>
<div class="meter-mit">
	<span style="width: <%= (@mit_tickets.to_f / ticket_goal.to_f) *100 %>%"></span>
</div>

<h3>Wellesley</h3>
<div class="meter-wel">
	<span style="width: <%= (@wel_tickets.to_f / ticket_goal.to_f) *100 %>%"></span>
</div>

<h3>Harvard</h3>
<div class="meter">
	<span style="width: <%= (@har_tickets.to_f / ticket_goal.to_f) *100 %>%"></span>
</div>

