<div id="ticketChoiceBox">
<h3>How many tickets?</h3>
<form action=<%=creditcard_path%> id="tix_number_form" method="POST">
<input type="text" name="tickets_wanted" placeholder="Between 1-5" required>
<button type="submit" class="btn btn-large btn-primary">Submit</button>
</form>
</div>