<div id="ticketChoiceBox">
<h1>Step 2: How many tickets?</h1>
<form action=<%=creditcard_path%> id="tix_number_form" method="POST">
<input type="text" name="tickets_wanted" placeholder="Between 1-5" required>
<button type="submit" class="btn btn-large btn-primary">Next Step</button>
</form>
</div>